// background-color: #182C61;
// color: #ffa801;
#title{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%)
}
#search-box{
   position: absolute;
   top: 50%;
   left: 15%;
   transform: translateY(-50%);
    display: inline-block;
    vertical-align: middle;
}
app-auth{
    display: inline-block;
}
#login{
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 0%;
    transform: translateY(-50%);
}
#header{
    position: relative;
    margin-top: 10px;
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
    align-content: center;
    height: 100px;

}
mat-form-field{
    width:300px;
}
h4{
    display: inline-block;
    margin-right: 20px;
}
#register-btn{
    margin-left: 20px;
}
ul.menu li {
  display: inline;
}
.menu {
  position: absolute;
   top: 40%;
   right :25%;
   transform: translateY(-50%);
  list-style-type: none;
  display: inline-block;
}
.user-profile {
  display: flex;
}
.user-dropdown #displayName {
  display: inline-block;
  margin-left: 5px;
}
.user-dropdown{
  top: 50%
}
img {
  transform: translateY(30%)
}