#title{
    display: inline-block;
}
#search-box{
    display: inline-block;
    margin-left: 30px;
    margin-right: 100px;
    height: inherit;
    vertical-align: middle;
}
app-auth{
    display: inline-block;
}
#login{
    margin-left: 100px;
    display: inline-block;
}
#header{
    margin-top: 10px;
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
    align-content: center;

}
mat-form-field{
    width:300px;
}
h4{
    display: inline-block;
    margin-right: 20px;
}
#register-btn{
    margin-left: 20px;
}
ul.menu li {
  display: inline;
}
.menu {
  list-style-type: none;
}
.user-profile {
  display: flex;
}
.user-dropdown #displayName {
  display: inline-block;
  margin-left: 5px;
}
