<div id="header">
    <div id='title'><h2>RateTheNews</h2></div>
    <div id="search-box">
        <mat-form-field appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix><img src="../../assets/images/search.png"></mat-icon>
        </mat-form-field>
    </div>
    <h4>
        Browse
    </h4>
    <h4>
        Contact Us
    </h4>
    <div id='login'>
        <div *ngIf="auth.user$ | async as user; else login">
            {{ user | json }}
            <button mat-flat-button color="warn"  class="button" (click)="auth.signOut()">Sign Out</button>
        </div>
        <h4></h4>
        <ng-template #login>
            <button mat-flat-button color="warn"  class="button" (click)="openLoginDialog()">Login</button>
            <button mat-stroked-button color="warn" id="register-btn" (click)="openRegisterDialog()">Register</button>
        </ng-template>

        
    </div>
</div>

