@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display:wght@500&family=Raleway:ital@1&display=swap");
.ce-block {
  font-family: "EB Garamond", serif;
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
}
@mixin margin-left-right {
  margin-left: 5vw;
  margin-right: 5vw;
}
.article-grid {
  display: grid;
  grid-template-columns: 15% 85%;
}
.fxlay {
  @include margin-left-right;
  display: flex;
  align-items: flex;
  justify-content: flex-start;
}
.author {
  color: rgb(121, 115, 115);
  @include margin-left-right;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    padding-right: 10px;
  }
}
.header {
  font-family: "EB Garamond", serif;
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
.no-article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  font-size: 25px;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
.title {
  @include margin-left-right;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
}
.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  button:first-child {
    color: white;
    background: #e25822;
    margin-bottom: 40px;
  }
  button:last-child {
    color: white;
    background: #31d2fa;
    margin-bottom: 40px;
  }
}