@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display:wght@500&family=Raleway:ital@1&display=swap");
.article-editor {
  font-family: "EB Garamond", serif;
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
  width: 90%;
  margin-top: 7%;
  margin-right: 5vw;
  margin-left: 2vw;
  #editorjs-css {
    width: 80%;
    margin-left: 10%;
    height: 100%;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: -1px 1px 26px 7px rgba(30, 30, 60, 0.19);
  }
}
button {
  float: right;
  margin-right: 15vw;
}
.heading {
  font-weight: 500;
  font-family: "EB Garamond", serif;
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding-left: 15%;
  padding-bottom: 20px;
  padding-top: 20px;
  border: none;
}