<div id="stars">
    <h2>Your Rating</h2>
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="10" /><label class = "full" for="star10"></label>
        <input type="radio" id="star4half" name="rating" value="9.5" /><label class="half" for="star9half"></label>
        <input type="radio" id="star4" name="rating" value="9" /><label class = "full" for="star9"></label>
        <input type="radio" id="star3half" name="rating" value="8.5" /><label class="half" for="star8half"></label>
        <input type="radio" id="star3" name="rating" value="8" /><label class = "full" for="star8"></label>
        <input type="radio" id="star2half" name="rating" value="7.5" /><label class="half" for="star7half"></label>
        <input type="radio" id="star2" name="rating" value="7" /><label class = "full" for="star7"></label>
        <input type="radio" id="star1half" name="rating" value="6.5" /><label class="half" for="star6half"></label>
        <input type="radio" id="star6" name="rating" value="6" /><label class = "full" for="star6"></label>
        <input type="radio" id="star5half" name="rating" value="5.5" /><label class="half" for="star5half"></label>
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
        <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
        <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
        <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
        <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
        <input type="radio" id="starhalf" name="rating" value=".5" /><label class="half" for="starhalf"></label>
    </fieldset>
</div>
<div id="content">
<mat-form-field class="example-full-width">
    <mat-label></mat-label>
    <input matInput placeholder="Title">
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label></mat-label>
    <textarea matInput placeholder="Write a review"></textarea>
</mat-form-field>
</div>

