.margin1 {
    margin-left: 10vw;
    margin-right: 10vw;
}
.head {
    margin-top: 3%;
    font-size: 30px;
}
.titles {
    margin: 16px;
  padding: 16px;
}
.articles {
    cursor: pointer;
}
.write-story {
    float: right;
    color: blueviolet;
    border: 1px solid blueviolet;
}