<section class="anchor-main">
    <div class="anchor-avatar">
        <img src="../../assets/images/anchor.jpeg" alt="image">
    </div>
    <div class="anchor-data">
        <div class="anchor-name">
            Anchor-name
        </div>
        <span class="star-rating">7.8</span> &nbsp;
        <span class="star-image">
                <span><img height="30px" src="../../assets/images/star.png" alt=""></span>
        </span>
        <div class="slider"><mat-slider class="slider" color="accent" min="1" max="10" thumbLabel
            ></mat-slider></div>
        <div>
            qualification
        </div>
        <div>career</div>
        <div>
            <span>hosted show with </span>
            <span>show rating</span>
        </div>
    </div>
</section>
<section class="anchor-other">
    <div class="photos">
        Photos
    </div>
    <div class="quotes">
        <br> Quotes
    </div>
</section>