@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
.anchor-main {
    display: flex;
    gap: 80px;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 16px;
    padding: 0px 4%;
    padding-bottom: 1.5em;
    .anchor-name {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .anchor-avatar {
        width: 200px
    }
    .slider {
        display: block;
    }
    svg {
        height: 10px;
        background-size: 100px 82px;
        stroke: #94d31b; 
    }
    .star-rating {
        font-size: 30px;
    }

}
.anchor-other {
    padding: 0px 4%;
    .photos {
        display: flex;
    }
}