<section *ngIf="!vis" class="spinner">
  <mat-spinner [diameter]="70"></mat-spinner>
</section>
<div *ngIf="vis">
  <div *ngIf="show as show" id="container">
    <div class="flexy">
      <h1>{{ show[0].title }}:</h1>
      &nbsp;
      <div id="rating">
        <img src="../../assets/images/star.png" />
        <h3>{{ show[0].avgrating }}/ <span style="color: grey">10</span></h3>
      </div>
      &nbsp;&nbsp;
      <div class="vertical-divider"></div>
      &nbsp;&nbsp;
      <!-- star rating image -->
    </div>
    <div class="tags">
      <mat-chip-list>
        <mat-chip> news </mat-chip>
        <mat-chip> anchors </mat-chip>
        <mat-chip> facts </mat-chip>
      </mat-chip-list>
    </div>
    <br />
    <div id="top">
      <img [src]="show[0].poster" height="300px" width="200px" />
      <h5>{{ show[0].description }}</h5>
      <h5><strong>Anchor: &nbsp;</strong> {{ show[0].anchor }}</h5>
      <h5><strong>Channel Name: &nbsp;</strong> NDTV</h5>
      <h5><strong>Timing: &nbsp;</strong>8:00 AM (1 hr)</h5>
    </div>
  </div>
  <app-review-comp [id]="id"></app-review-comp>
</div>
