@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#top h3{
    display: inline-block;
}
#top img{
    display: inline-block;
}
#rating h3{
    display: inline-block;
}
#rating img{
    display: inline-block;
}
#container{
    margin-left: 10vw;
}