<h1><b>Tv Shows Rating</b></h1>
<div class="div1">
  <span>
    <span>The Kapil Sharma Show</span>
    <span style="float: right">Timings: {{ timing }}</span> </span
  ><br /><br />
  <div class="div2">
    <img id="poster" src="../../assets/images/poster1.jpg" alt="" /><br /><br />
    <span id="span2">Anchor's Name: {{ anchor }} </span>
    <div id="rate">
      <label for="star">Rate this:</label>
      <img id="star" src="assets/images/star.png" (click)="open()" alt="" />
      <div id="stars" *ngIf="isHidden">
        <fieldset class="rating">
          <input type="radio" id="star10" name="rating" value="10" /><label
            class="full"
            for="star10"
          ></label>
          <input type="radio" id="star9half" name="rating" value="9.5" /><label
            class="half"
            for="star9half"
          ></label>
          <input type="radio" id="star9" name="rating" value="9" /><label
            class="full"
            for="star9"
          ></label>
          <input type="radio" id="star8half" name="rating" value="8.5" /><label
            class="half"
            for="star8half"
          ></label>
          <input type="radio" id="star8" name="rating" value="8" /><label
            class="full"
            for="star8"
          ></label>
          <input type="radio" id="star7half" name="rating" value="7.5" /><label
            class="half"
            for="star7half"
          ></label>
          <input type="radio" id="star7" name="rating" value="7" /><label
            class="full"
            for="star7"
          ></label>
          <input type="radio" id="star6half" name="rating" value="6.5" /><label
            class="half"
            for="star6half"
          ></label>
          <input type="radio" id="star6" name="rating" value="6" /><label
            class="full"
            for="star6"
          ></label>
          <input type="radio" id="star5half" name="rating" value="5.5" /><label
            class="half"
            for="star5half"
          ></label>
          <input type="radio" id="star5" name="rating" value="5" /><label
            class="full"
            for="star5"
          ></label>
          <input type="radio" id="star4half" name="rating" value="4.5" /><label
            class="half"
            for="star4half"
          ></label>
          <input type="radio" id="star4" name="rating" value="4" /><label
            class="full"
            for="star4"
          ></label>
          <input type="radio" id="star3half" name="rating" value="3.5" /><label
            class="half"
            for="star3half"
          ></label>
          <input type="radio" id="star3" name="rating" value="3" /><label
            class="full"
            for="star3"
          ></label>
          <input type="radio" id="star2half" name="rating" value="2.5" /><label
            class="half"
            for="star2half"
          ></label>
          <input type="radio" id="star2" name="rating" value="2" /><label
            class="full"
            for="star2"
          ></label>
          <input type="radio" id="star1half" name="rating" value="1.5" /><label
            class="half"
            for="star1half"
          ></label>
          <input type="radio" id="star1" name="rating" value="1" /><label
            class="full"
            for="star1"
          ></label>
          <input type="radio" id="starhalf" name="rating" value=".5" /><label
            class="half"
            for="starhalf"
          ></label>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<app-review-comp></app-review-comp>
  
