html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2A79FF !important;
}

.button-theme {
    color: blueviolet;
    border: 1px solid blueviolet;
  }