<h1>Register</h1>
<h4 >{{errorMessage}}</h4>
<p>
    <mat-form-field appearance="outline" >
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline" >
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline" >
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</p>
<p id="Register">
    <button (click)="onsignup()" mat-flat-button color="warn"  class="button" >Sign Up</button>
</p>
