.container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 13vw;
  margin-top: 10px;
}
#all-comments h4 {
  display: inline-block;
}
#user {
  font-weight: bold;
  margin-right: 10px;
}
#comment {
  margin-left: 20px;
}
.post-comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
}
.post-reply {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
#time {
  color: #909497;
}
#downvote {
  transform: rotate(180deg);
}
#all-reply {
  margin-left: 20px;
}
#loadreplies:hover {
  color: rgb(47, 0, 255);
  cursor: pointer;
}
#loadmorereplies:hover {
  color: rgb(47, 0, 255);
  cursor: pointer;
}

h1 {
  font-family: sans-serif;
}

.vote {
  border: none;
  background-color: white;
  width: 47px;
  height: 21.5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: 0;
  }
}

.upArrow {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    margin: 0;
  }
}
.main-textarea {
  font-family: inherit;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
  width: 70vw;
  height: 60px;
  resize: none;
}
.reply-textarea {
  font-family: inherit;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
  width: 20vw;
  height: 60px;
  resize: none;
}
.comment__toolbar {
  display: flex;
  gap: 10px;
}
.downArrow {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}

#upButton :hover {
  fill: #6cc576;
  cursor: pointer;
}

#downButton :hover {
  fill: #ff586c;
  cursor: pointer;
}
.style1 {
  fill: #6cc576;
}
.style2 {
  fill: #ff586c;
}
.style3 {
  fill: #bbbbbb;
}
